{% extends 'base.jinja2' %}
{% block content %}
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>Tree Stars Collective</small>
                </h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450">
            </div>
            <div class="col-md-6">
                <h2>Mission Statement</h2>
Tree Stars Collective  is a tenured group of cannabis professionals dedicated to providing the highest quality medicine at the  lowest donation,  and experience to registered California  medical marijuana patients. We are passionate California prop 215 patients that strive to enhance the lives of our patients while changing the perception of marijuana as a viable and safe medicine for an array of conditions. Tree Stars Collective is striving to be an active member of the community through social action and philanthropy because we understand that we cannot succeed unless our neighbors do too.
            </div>

        </div>

        <!-- Team Member Profiles -->

        <div class="row">

 
            <div class="col-sm-4">
           </div>
           </div>

           </div>

        </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/modern-business.js"></script>

</body>

</html>



      <form class="form    </div> <!-- /container -->
{% endblock %}
